@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #181818; 

}

.note{
  overflow-y: scroll;
}

.board{
  background-color: #252525;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #3A3B3C;
}

.newCardBtn {
  @apply text-white text-2xl absolute right-10 bottom-10 p-5 card rounded-full
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
